.serviceIcon {
  transition: all 0.35s ease;
  cursor: pointer;
}

.serviceIcon:hover {
  transform: translateY(-10px) scale(1.15);

  box-shadow:
    0 0 20px rgba(249,115,22,.8),
    0 0 40px rgba(249,115,22,.6),
    0 0 60px rgba(249,115,22,.3);
}